@model FurryPal.Web.ViewModels.Products.ProductDetailViewModel

@{
    var productName = Model.Name;

    ViewData["Title"] = productName;
}

<div class="container m-5">
    <section>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img class="img-fluid" style="border: 1px solid #f9f9f9;" src="@Model.ImageUrl"/>
            </div>
            <div class="col-md-4">
                <b>
                    <h2 id="product-name-details-page">@productName</h2>
                </b>
                <h6>
                    Price:
                    <span id="price">@Model.Price €</span>
                </h6>
                <hr/>
                @if (!@Model.IsAvailableForAutoShipping)
                {
                    <h6>
                        <span class="auto-shipping">Auto Shipping:</span> <br/><br/>
                        No Auto Shipping available for this product.
                    </h6>
                }
                else
                {
                    <h6>
                        <span class="auto-shipping">Auto Shipping:</span> <br/><br/>
                        Yippee, seems like we offer <span>Auto Shipping</span> on this product!
                        You can add it to your Subscription and get it delivered to your doorstep in a regular period of time!
                    </h6>
                }

                <hr/>
                <h6>
                    @if (@Model.StockQuantity > 20)
                    {
                        <b>
                            <span id="in-stock">In Stock</span>
                        </b>
                    }
                    else if (@Model.StockQuantity <= 20 && @Model.StockQuantity != 0)
                    {
                        <b>
                            <span id="few-available">Only Few Available!</span>
                        </b>
                    }
                    else if (@Model.StockQuantity == 0)
                    {
                        <b>
                            <span id="not-in-stock">Not In Stock. More coming soon!</span>
                        </b>
                    }
                </h6>
            </div>
            <div class="col-md-2">
                @* TODO: implement server side logic for this! *@
                @if (@Model.StockQuantity == 0)
                {
                    <button class="btn btn-primary" disabled>
                        <a>add to cart</a>
                    </button>
                }
                else
                {
                    <button class="btn btn-primary">
                        <a asp-route-id="@Model.Id" asp-controller="Products" asp-action="AddToCart">Add To Cart</a>
                    </button>
                }
            </div>
        </div>
    </section>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active show" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="additional-info-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Additional Info</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="home-tab">@Model.Description</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="additional-info-tab">No additional Info Yet</div>
    </div>
</div>
