@using FurryPal.Models
@inject SignInManager<User> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav flex-column">
    <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item account-manage "><a class="nav-link" asp-page="./Index">Your Profile Information</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item account-manage"><a class="nav-link" id="change-password" asp-page="./ChangePassword">Change Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) nav-item account-manage"><a class="nav-link" id="external-login" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) nav-item account-manage"><a class="nav-link" asp-page="./PersonalData">Download/Delete Personal Data</a></li>
    <li class="@ManageNavPages.AddressAndBillingInformationNavClass(ViewContext) nav-item account-manage"><a class="nav-link" asp-page="./AddressAndBillingInformation">Change Address and Billing Information</a></li>
</ul>
